@import '@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: gainsboro;
}

/* You can add global styles to this file, and also import other style files */
.container {
    width: 90%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 15px
}


body {
	color: #707070;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #f9f9f9
}

p {
	color: #707070;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	margin-bottom: 15px
}


.heading-bar {
	background-color: #1E90FF;
	position: relative
}

.heading-bar h1 {
	color: #fff
}

.heading-bar .breadcrumb {
	position: absolute;
	left: 0;
	bottom: -25px;
	z-index: 1
}

.text-center {
	text-align: center
}



.main-wrapper {
    /* padding-top: 30px; */
	padding-bottom: 30px;
	width: 100%;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.container {
    width: 90%;
    position: relative;
    display: block;
    margin-left: auto;
	margin-right: auto;
	
	padding-top: 35px;
}   



.create-customer .form-group {
    padding: 10px;
    margin-bottom: 30px
}

.row-wrapper::after {
    content: "";
    display: table;
    clear: both
}

.row-wrapper .col-wrapper {
    float: left;
    display: block;
    position: relative;
    min-height: 1px;
    box-sizing: border-box
}

.create-customer .col-wrapper {
    width: 33.33%;
    padding-left: 20px;
    padding-right: 20px
}
.create-customer .form-wrapper{
    background-color: #80808014;
}
.create-button-section
{
    height:50px;
}


.create-customer .form-group {
    margin-bottom: 30px
}

.form-group {
    margin-bottom: 15px
}

.form-control {
    color: #707070;
    font-size: 16px;
    width: 100%;
    height: 40px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
	box-sizing: border-box;
	background-color: white;
}



.text-center {
    text-align: center
}

label {
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px;
}

option:hover{
	background: #e65c14
}

#trackClaim{
    margin-top: 27px;
    padding: 8px;
    width: 15%;
}
.breadcrumb li a,
.breadcrumb li span {
    color: #f6f8f7;
    font-size: 12px;
    text-decoration: none
}

.heading-bar .breadcrumb {
    position: absolute;
    left: 0;
    bottom: -25px;
    z-index: 1;
    background-color: transparent;
}


.row-wrapper::after {
    content: "";
    display: table;
    clear: both
}

.row-wrapper .col-wrapper {
    float: left;
    display: block;
    position: relative;
    min-height: 1px;
    box-sizing: border-box
}



.create-customer .col-wrapper {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px
}

.row-wrapper .col-wrapper {
    float: left;
    display: block;
    position: relative;
    min-height: 1px;
    box-sizing: border-box
}

.create-customer .form-group {
    margin-bottom: 30px
}

.form-group {
    margin-bottom: 15px
}