<div class="product-container">
    <div>
            <img  [src]="product.imageUrl"  />
    </div>
    <div>
            <h2 class="name"> {{product.name}}</h2>
    </div>
    <div>
            <p class="category">Category: {{product.category}} </p>
    </div>
    <div>
            <p class="price"> Price: ${{product.price}}</p>
    </div>
    <div>
            <p class="stock"> Stock: {{product.availQuantity}}</p>
    </div>
    <div>
            <button>Add to Cart </button>
    </div>
</div>
