<!--Fill your code -->
<nav></nav>
    <div class="logo"><h2>User Product List</h2></div>
    <div class="menu">
        <ul>
            <li><a routerLink="/user" routerLinkActive="active" id="userActive">User</a></li>
            <li><a routerLink="/product" routerLinkActive="active" id="productActive">Product</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

<!--<nav>
    <a routerLink="/product" routerLinkActive="active">Products</a>
    <a routerLink="/user" routerLinkActive="active">Products</a>
</nav>

in style 
nav a.active{
color:blue;//change color text and button
}
-->
C:\Users\asus\Desktop\New folder\New folder\vs code 2\persist\angularattempt2\angular attempt 2\attemp2\src\app\compoment\category